:root {
    /* Timing */
    --transition-duration: 0.2s;
    --transition-duration-longer: 0.4s;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-text: #252C32;
    --color-accent: #4094F7;
    --color-border-accent: #0E73F6;
    --color-background: #F4FAFF;

    /* Sizes */
    --base-font: 14px;
    --section-padding-x_m: 16px;
    --section-padding-x_s: calc(var(--section-padding-x_m) / 2);
    --section-padding-y_m: 20px;
}